BasedOnStyle: Mozilla
Standard: c++17

Cpp11BracedListStyle: true

UseTab: ForIndentation
IndentWidth: 2
TabWidth: 2

ColumnLimit: 100

BreakBeforeBraces: Linux
InsertBraces: true

SortIncludes: true
SortUsingDeclarations: Lexicographic

IncludeBlocks: Regroup

SeparateDefinitionBlocks: Always

AlignEscapedNewlines: LeftWithLastLine
AlignAfterOpenBracket: BlockIndent

AllowShortBlocksOnASingleLine: Never

BinPackArguments: false
BinPackParameters: OnePerLine

PackConstructorInitializers: CurrentLine
BreakConstructorInitializers: AfterColon

PointerAlignment: Right

PenaltyBreakAssignment: 100
