BasedOnStyle: Mozilla
Standard: c++17

UseTab: ForIndentation
IndentWidth: 2
TabWidth: 2

ColumnLimit: 100

BreakBeforeBraces: Linux
InsertBraces: true

SortIncludes: true
SortUsingDeclarations: Lexicographic

IncludeBlocks: Regroup

SeparateDefinitionBlocks: Always

AllowShortFunctionsOnASingleLine: Empty

AlignEscapedNewlines: LeftWithLastLine

BinPackArguments: false
BinPackParameters: OnePerLine

PointerAlignment: Right
